#login-content {
	background: #fff;
}

.ant-layout {
	background: white;
}

#todos-content {
    margin: 30px;
    min-height: 500px;
	background: white;
	background-color: #FFFFFF;
    box-shadow: 0px 3px 6px -4px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
}

.todo-form {
    margin-bottom: 14px;
}
