#dashboard-container {
	
}
	
#dashboard-header {
	
}
	
#dashboard-content {
	
}
	
.ant-layout {
	background: white;
}
	
#dashboard-footer {
	text-align: center;
}
	
.bargraph {
	padding: 50px !important;
}
	