@import "variables";

html {
	position: relative;
	min-height: 100%;

	body .container {
		margin: 0;
		max-width: 100%;
	}
}

.module-container {
	height: 100%;
	background: rgba(255,255,255, 0) !important;
}

.menu-logo {
	background: rgba(255,255,255,.2);
	margin: 16px 28px 16px 0;
	float: left;
}

.header {
	padding: 0px 10px !important;
}

.navbar-menu {
	line-height: 64px;
}

.content {
	background: #fff;
}

footer {
	position: absolute;
	bottom: 0;
}

.footer {
	text-align: center;
	color: #fff;
	background-color: #000c1a;
}

#root, #navigator {
	height: 100%;
}
