$primary-color          : #0054bf;
$info-color             : #008de7;
$success-color          : #ffc200;
$processing-color       : $primary-color;
$error-color            : #d29100;
$highlight-color        : #ffc200;
$warning-color          : #497b09;
$normal-color           : #d9d9d9;

$dark-color             : #000c1a;

$layout-header-background: $dark-color;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
