
#login-content {
	background: #fff;
}

#login-box {
	background: #ececec;
	border: 1px;
	padding: 20px;
	margin: 20px;
}

.logo {
	margin: 10px 10px 20px 10px;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}
