@import "../../app/variables";

#login-content {
	background-image: url("../../assets/login-background.jpg");
	background-size: cover;
}

#login-signup {
	margin-top: 15px;
	float: right;
	color: white;
	background-color: $error-color;
}

#login-box {
	background: $gray-lighter;
	border: 1px;
	padding: 20px;
	margin: 20px;
	opacity: 0.9;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}
