{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["module-alias", [
      { "src": "./.globals", "expose": ".globals" },
      { "src": "./src/app", "expose": "app" }
    ]]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
