{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["module-alias", [
      { "src": ".", "expose": "__proj" },
      { "src": "./src", "expose": "__src" }
    ]]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
