@import "../../app/variables";

#registration-content {
	background-image: url("../../assets/registration-background.jpg");
	background-size: cover;
}

#registration-login {
	margin-top: 15px;
	float: right;
	color: white;
	background-color: $primary-color;
}

#registration-box {
	background: $gray-lighter;
	border: 1px;
	padding: 20px;
	margin: 20px;
	opacity: 0.9;
}

.registration-form-forgot {
	float: right;
}

.registration-form-button {
	width: 100%;
}
